/**
* Anax Flat theme.
*/
@import url(modules.less);

/** --------------------------------------------------------------
 *  Color palette and general rules
 */
@baseblue: #427F85;
@blueH1: #679A9E;
@blueS1: #25666C;
@compliment: #D09663;

@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');




img {
    max-width: 100%;
}


/** --------------------------------------------------------------
 *  Header
 */

 .site-header {
     padding-top: 20px;
     height: 50px;
     padding: 0 1em;
     background-color: @baseblue;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
 }


.wrap-all {
    margin-top: 60px;
}
 // .inner-wrap {
 //     &.inner-wrap-header {
 //         max-width: 100%;
 //         background-color: @baseblue;
 //         height: 50px;
 //         position: fixed;
 //         top: 0;
 //         left: 0;
 //         right: 0;
 //     }
 // }


.profile {
    display: none;
}

.site-logo-text
{
    .column(2);
}

.navbar2 {
    .column(7);
    .push(1);
}

.inner-wrap-flash {

    img {
        margin-bottom: @magicNumber * 1.5;
    }
}


.site-logo-text {
    font-size: 2em;
    font-family: 'Ravi Prakash', cursive;

    a {
        text-decoration: none;
        color: #000;
    }
}

@navbarItemBgColor: @blueS1;
@navbarItemHoverBgColor: @blueH1;
@maxButtonFontSize: 2em;
@navbarItemSelectedBgColor: @compliment;




/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: relative;
    top: 300px;
    left: -175px;
}

.site-logo-text {
    img {
        vertical-align: bottom;
        width: 48px;
    }
}

/** --------------------------------------------------------------
 *  Article
 */

 .article {

     h1 {
         font-size: @magicNumber * 2;
         color: @compliment;
     }

     h3 {
         font-size: @magicNumber;
         font-weight: lighter;
         color: @compliment;
     }

 }


.route-grid .inner-wrap .row {
    .showGrid();
}


/** --------------------------------------------------------------
 *  byline
 */
.after-main {
    overflow: auto;
    .column(10);
}

.after-main {
    a, p {
        margin-top: 0;
    }
}


/** --------------------------------------------------------------
 *  footer
 */

.footer {



    .footer-column {

        ul {
            list-style: disc;
            color: @compliment;

        }

        h4 {
            color: @compliment;
        }
    }
}

/** --------------------------------------------------------------
 *  Responsive
 */

 @media screen and (max-width: 1265px) {
     .site-logo-text,
     {
         .column(3);
     }
     .navbar2 {
         .column(9);
     }
 }



@media screen and (max-width: 980px) {
    .profile {
        display: block;
    }

    .navbar2 {
        display: none;
    }

    .site-logo-text {
        .column(10);
    }
    img {
        max-width: 100%;
    }

    .outer-wrap-main,
    .outer-wrap-footer,
    .after-main {
        margin-left: 1em;
    }

}


@media screen and (max-width: 720px) {
    .site-logo-text {
        .column(10);
    }

    .navbar2 {
        display: none;
    }

    .sidebar {
        display: none;
    }
    .footer .column {
        text-align: center;
        .column(12);

        .block {
            .column(12);
        }
    }

}
